{% extends 'basewhitoutfooter.html' %}
{% load static %}

{% block content %}

    <body style="direction:rtl;">

    <section style="margin-top: 69px;">
        <div data-bss-hover-animate="pulse"
             style="height: 600px;background: url(&quot;{% static 'assets/img/team-work-illustration-concept_95561-69.webp' %}&quot;) center / contain no-repeat;">
            <div class="row h-100" style="margin-right: 0px;margin-left: 0px;">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div style="padding: 56px;">
                        <p class="text-truncate fw-lighter mb-4"
                           style="color: rgb(0,0,0);font-size: 33px;margin-top: -280px;font-family: Inter, sans-serif;height: 60px;padding-top: 1px;">
                            مجموعه زرمیوه کوشا در</p>
                        <p class="fw-bold mb-4"
                           style="color: rgb(92,92,92);font-size: 19px;margin-top: 0px;text-align: center;padding: 7px;">
                            تولید و اشتغال زایی با تکیه بر علم اقتصاد برتر و رواج اخلاق مداری و صداقت در جامعه و پیشرفت
                            همگانی</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container h-100 position-relative" style="top: -50px;">
            <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-5 p-4">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg"
                                 style="top: -30px;background: rgb(55,244,97);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-lightbulb">
                                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"></path>
                                </svg>
                            </div>
                            <h4 class="card-title">میزآورده ها</h4>
                            <p class="card-text" style="color: rgb(118,121,122);text-align: right;">Nullam id dolor id
                                nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                                eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="{% url 'input:inputtabel' %}">توضیحات بیشتر&nbsp;<svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                viewBox="0 0 16 16" class="bi bi-arrow-right">
                            <path fill-rule="evenodd"
                                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg>
                        </a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-5 p-4">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg"
                                 style="top: -30px;background: rgb(55,244,97);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-bezier">
                                    <path fill-rule="evenodd"
                                          d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                    <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                                </svg>
                            </div>
                            <h4 class="card-title">اتاق معماری ایده ها</h4>
                            <p class="card-text" style="color: rgb(118,121,122);text-align: right;">Nullam id dolor id
                                nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                                eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="{% url 'input:inputtabel' %}">توضیحات بیشتر&nbsp;<svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                viewBox="0 0 16 16" class="bi bi-arrow-right">
                            <path fill-rule="evenodd"
                                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg>
                        </a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body pt-5 p-4">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg"
                                 style="top: -30px;background: rgb(55,244,97);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                     viewBox="0 0 16 16" class="bi bi-flag">
                                    <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                                </svg>
                            </div>
                            <h4 class="card-title">اقتصاد برتر</h4>
                            <p class="card-text" style="color: rgb(118,121,122);text-align: right;">Nullam id dolor id
                                nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                                eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="{% url 'input:inputtabel' %}">توضیحات بیشتر&nbsp;<svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                viewBox="0 0 16 16" class="bi bi-arrow-right">
                            <path fill-rule="evenodd"
                                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg>
                        </a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4 py-xl-5" style="margin-top: 73px;">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0"
                     style="background: url(&quot;{% static 'assets/img/green-texture_1160-912.jpg' %}&quot;);">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <p class="mb-4" style="color: rgb(37,37,37);font-size: 24px;font-weight: bold;">دیگران
                                کاشتند ماخوردیم<br><br>مابکاریم دیگران بخورند<br></p>
                            <p class="mb-4" style="color: rgb(37,37,37);font-size: 20px;text-align: right;">با ورود
                                شمابه سایت ما و استفاده ازخدمات این مجموعه،عملکرد شما باعث کارآفرینی و اشاعه اخلاق مداری
                                که نیت اصلی ماست با آوردن بیشترین خیر به بیشترین افراد جامعه تحقق می یابد.<br></p>
                            <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button"
                                                 data-bss-hover-animate="pulse" href="{% url 'input:inputtabel' %}"
                                                 style="background: rgb(1,167,17);padding: 7.8px 40px;padding-right: 7px;padding-left: 17px;border-radius: 11px;border-color: rgb(255,255,255);border-top-color: rgb(255,255,255);"><i
                                    class="fa fa-hand-stop-o"></i>&nbsp;منم هستم</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last"
                         style="min-height: 250px;padding: 37px;height: 359px;"><img data-bss-hover-animate="pulse"
                                                                                     class="w-100 h-100 fit-cover"
                                                                                     src="{% static 'assets/img/—Pngtree—green%20leaves%20vector%20icon%20design_5224035.png' %}"
                                                                                     style="background: #ffffff;border-radius: 207px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="empresa" style="padding:20px;margin:1px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-7 col-lg-7">
                    <h1>اقتصاد برتر چیست ؟</h1>
                    <p style="text-align: right;color: rgb(85,85,85);">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sed quis mauris accumsan, aliquet dui vel, rutrum dolor. Nunc vitae auctor
                        metus. Quisque posuere nibh ut sem tincidunt, quis feugiat elit lobortis. Sed ut fringilla
                        purus. Suspendisse volutpat ex non sem vehicula venenatis ut sed purus. Nunc eget fermentum
                        metus, non consectetur velit. Donec semper leo a tellus posuere mollis. Duis a eleifend metus.
                        Sed viverra enim sit amet mattis viverra. Ut euismod viverra lectus id aliquam. Cras eget odio
                        mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Donec ipsum nulla, vestibulum id diam eu, malesuada malesuada ex. Vestibulum et
                        volutpat mauris. Donec sagittis sem vitae lacinia pellentesque. Ut mattis viverra aliquam. </p>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-5"><img
                        src="{% static 'assets/img/NicePng_jungle-tree-png_1860841.png' %}"></div>
                <div class="col">
                    <p style="text-align: right;color: rgb(85,85,85);">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sed quis mauris accumsan, aliquet dui vel, rutrum dolor. Nunc vitae auctor
                        metus. Quisque posuere nibh ut sem tincidunt, quis feugiat elit lobortis. Sed ut fringilla
                        purus. Suspendisse volutpat ex non sem vehicula venenatis ut sed purus. Nunc eget fermentum
                        metus, non consectetur velit. Donec semper leo a tellus posuere mollis. Duis a eleifend metus.
                        Sed viverra enim sit amet mattis viverra. Ut euismod viverra lectus id aliquam. Cras eget odio
                        mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Donec ipsum nulla, vestibulum id diam eu, malesuada malesuada ex. Vestibulum et
                        volutpat mauris. Donec sagittis sem vitae lacinia pellentesque. Ut mattis viverra aliquam. </p>
                </div>
            </div>
        </div>
    </div>
    <section id="section-timeline" style="padding: 40px 0px;padding-bottom: 68px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">چگونه میتوانیم؟</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="img-fluid border rounded-circle shadow-lg"
                                                             src="{% static 'assets/img/flat-thinking-man-vector-29534016.jpg' %}">
                            </div>
                            <div class="timeline-panel" style="border-radius: 16px;padding: 20px;">
                                <div class="timeline-heading">
                                    <h4 style="text-align: right;">اول</h4>
                                    <h4 class="subheading" style="text-align: right;">درون اندیشی</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="text-align: right;">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                        temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                                        dolore laudantium consectetur! </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="img-thumbnail img-fluid border rounded-circle"
                                                             src="{% static 'assets/img/logo-150.png' %}"></div>
                            <div class="timeline-panel" style="border-radius: 16px;">
                                <div class="timeline-heading">
                                    <h4 style="text-align: right;">دوم</h4>
                                    <h4 class="subheading" style="text-align: right;">تفکر میزگردی و ایجاد اجتماع</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="text-align: right;">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                        temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                                        dolore laudantium consectetur! </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded img-fluid border rounded-circle"
                                                             src="{% static 'assets/img/helping-hand-concept-illustration-worker-helping-each-other-for-business-group-free-vector.jpg' %}"
                                                             style="padding-top: 4px;"></div>
                            <div class="timeline-panel" style="border-radius: 16px;">
                                <div class="timeline-heading">
                                    <h4 style="text-align: right;">سوم</h4>
                                    <h4 class="subheading" style="text-align: right;">هم افزایی&nbsp;</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="text-align: right;">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                        temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                                        dolore laudantium consectetur! </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="img-thumbnail img-fluid border rounded-circle"
                                                             src="{% static 'assets/img/female-working-fields-gathering-harvest-picking-ripe-organic-apples_200075-557.webp' %}">
                            </div>
                            <div class="timeline-panel" style="border-radius: 16px;">
                                <div class="timeline-heading">
                                    <h4 style="text-align: right;">چهارم</h4>
                                    <h4 class="subheading" style="text-align: right;">برداشت</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="text-align: right;">Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                        temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                                        dolore laudantium consectetur! </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="border rounded-circle border-3 border-primary shadow-lg timeline-image"
                                 style="background: url(&quot;{% static 'assets/img/success.jpg' %}&quot;) right / cover no-repeat, rgb(135,198,0);"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section style="padding: 36px;">
        <div class="row clearmargin clearpadding row-image-txt" style="background: rgba(42,42,42,0);">
            <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6"
                 style="height: 400px;background: url(&quot;{% static 'assets/img/helping-hand-concept-businessman-standing-hand-reaching-goal-business-illustration_253672-9.webp' %}&quot;) right / cover;border-bottom-right-radius: 34px;border-top-right-radius: 34px;">
                <div></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6"
                 style="padding: 13px;color: #913e3e;background: linear-gradient(-112deg, #3c74a3, #33c4cc), #30668c;border-radius: 0px;border-top-left-radius: 33px;border-bottom-left-radius: 34px;">
                <h1 style="font-size: 32.88px;"><strong>از ماست که بر ماست</strong><br></h1>
                <hr style="background: rgb(229,225,225);height: 2px;">
                <p class="fw-lighter"
                   style="text-align: right;font-size: 21px;padding-right: 13px;font-family: 'Open Sans', sans-serif;">
                    <br>اگر ما کمی به فکر یکدیگر باشیم به جای مسابقه در جمع کردن مال دنیا در سخاوت و مهر و خلاقیت از
                    خزانه وجودمان خرج کنیم و بستری آماده کنیم تا استعداد های هم نوع مان را شکوفا نماییم و علم و معرفت را
                    در قالب کسب‌و کار اشاعه دهیم آن زمان قدم در پله های ترقی نوع بشر وسر زمینمان نهاده ایم<br><br></p>
                <div style="text-align:center">
                    <button href="{% url 'input:inputtabel' %}" class="btn btn-success btn-lg" type="button"
                            style="padding: 4.8px 40px;padding-right: 19px;padding-left: 19px;border-radius: 13px;">ورود
                        به بخش کارآفرینی
                    </button>
                </div>
            </div>
        </div>
    </section>
    <header style="padding-top: 94px;margin-bottom: 36px;">
        <div class="bg-light border rounded border-light d-flex flex-column justify-content-center hero-food jumbotron py-5 px-4"
             style="background: linear-gradient(-177deg, rgba(0,0,0,0.08), rgba(255,255,255,0) 100%), url(&quot;{% static 'assets/img/bg.jpeg' %}&quot;) bottom / cover no-repeat;">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <form class="d-flex flex-column justify-content-center align-items-center" method="post"
                          enctype="multipart/form-data"
                          style="background: rgba(255,255,255,0.49);width: 400PX;height: 400PX;margin: 0px;border-top: 5px solid #a3fc11 ;">
                        <h2 class="text-center" style="color: rgb(72,72,70);">با ما در ارتباط باشید</h2>
                        {% csrf_token %}
                        <div class="mb-3"><input class="form-control" type="text"
                                                 style="text-align: right;width: 300px;" name="name" placeholder="نام">
                        </div>
                        <div class="mb-3"><input class="form-control" type="tel" style="width: 300px;text-align: right;"
                                                 name="phone" placeholder="شماره تماس" required=""></div>
                        <div class="mb-3"><textarea class="form-control" name="description"
                                                    placeholder="پیام خود را بگذارید" rows="14"
                                                    style="width: 300px;height: 100px;text-align: right;"></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary btn-sm fs-5 button fs-4" type="submit"
                                    style="background: rgb(15,188,0);border-top-color: rgb(27,255,7);border-radius: 12px;padding: 1.4px 24px;">
                                ارسال<i class="far fa-paper-plane mx-2" style="font-size: 18.376px;"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
                    <h1 class="text-uppercase" style="font-size: 46px;color: rgb(255,255,255);">تحربه ای نو</h1>
                    <h1 class="text-uppercase" style="font-size: 59px;color: rgb(255,255,255);">اقتصادی برتر</h1>
                </div>
            </div>
        </div>
    </header>
    <a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="_blank"
       style="background-color: #5bbf21;width: 50px;height: 50px;"><i
            class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"
            style="margin-right: 0px;"></i></a>
    <div class="row p-0 m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center align-content-center p-0 m-0"
             style="border-bottom-width: 1.4px;border-bottom-style: solid;">
            <p class="p-0 m-0" style="color: #008c0e;">با ما در ارتباط باشید</p><a class="p-0 m-2 d-inline-block"
                                                                                   href="https://twitter.com/OmoldsCo"
                                                                                   target="_blank">
            <h3><i class="fa fa-telegram" style="color: #008c0e;"></i></h3>
        </a><a class="p-0 m-2 d-inline-block" href="https://plus.google.com/u/0/114804899141677023355" target="_blank">
            <h3><i class="fa fa-google-plus" style="color: #008c0e;"></i></h3>
        </a><a class="p-0 m-2 d-inline-block" href="https://www.youtube.com/channel/UCO8bVpiYLrkNhxoQUdyIYEQ"
               target="_blank">
            <h3><i class="fa fa-instagram" style="color: #008c0e;"></i></h3>
        </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-self-center p-0 m-0"><a class="link-dark"
                                                                                               href="https://www.jav.com"
                                                                                               target="_blank">
            <h6 class="text-center p-0 m-2" style="color: rgb(0,81,162);">تمامی حقوق مادی و معنوی برای جناب حقدان محفوظ
                است طراحی این اپلیکیشن توسط شرکت فنی مهندسی JAV&nbsp;انجام شده است</h6>
        </a></div>
    </div>
    </body>

    </html>
{% endblock %}