{% extends 'basewhitoutfooter.html' %}
{% load static %}

    {% block content %}
    <body style="direction:rtl;">
    <div class="row register-form" style="margin-right: 0px;margin-left: 0px;margin-top: 117px;">
        <div class="col">
            <div class="card bg-light border-0">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3 class="fw-bold mb-0">راهنما ی ثبت محصول</h3>
                            <p style="color: rgb(95,95,95);">استاندارد 2944</p>
                        </div>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                    </svg></span><span>&nbsp;محصول شما باید طبق استاندارد 2944 طبقه بندی شود</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                    </svg></span><span>&nbsp; تمامی فیلد های ستاره دار باید تکمیل شوند&nbsp;<br></span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                    </svg></span><span>&nbsp; سایز خرمای خود را با خط کش اندازه گیری کنید</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                    </svg></span><span>&nbsp; رنگ خرمای خود را در نوار رنگ انتخاب کنید</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                    </svg></span><span>دقت داشته باشید که خرمای شما طبق اطلاعاتی که شما وارد میکنید اعتبار سنجی و استاندارد بندی میشود&nbsp;</span></li>
                        </ul>
                    </div><a class="btn btn-primary d-block w-100" role="button" href="{% url 'input:inputtabel' %}" style="border-radius: 7px;">نیازمند راهنمایی بیشتر هستم !</a>
                </div>
            </div>
            <div class="card bg-light border-0">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3 class="fw-bold mb-0">ﮐﻨﺘﺮل ﮐﯿﻔﯿﺖ و اﺳﺘﺎﻧﺪارد ﺳﺎزي ﻗﺼﺐ زاﻫﺪي ﻃﺒﻖ ﻗﺎﻧﻮن ﺷﻤﺎره 2944 </h3>
                        </div>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2" style="margin-top: 27px;"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star-fill text-primary">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                    </svg></span><span style="text-align: right;">&nbsp; رﻧﮓ : از ﻋﻮاﻣﻞ ﻣﻬﻢ در ﺗﻌﯿﯿﻦ ﮐﯿﻔﯿﺖ ﺧﺮﻣﺎي زاﻫﺪي رﻧﮓ آن اﺳﺖ . ﮐﻪ ﻫﺮﭼﻪ ﻃﻼﯾﯽ ﺗﺮ ، ﯾﮑﺪﺳﺖ ﺗﺮ و ﭼﺮوك ﮐﻤﺘﺮ داشته باشد ﺧﺮﻣﺎ ﻣﺮﻏﻮب ﺗﺮ اﺳﺖ. </span></li>
                            <li class="d-flex mb-2"><span class="d-grid" style="text-align: right;">ﻃﺒﻖ ﭼﺎرت زﯾﺮ رﻧﮓ ﺧﺮﻣﺎ را ﻣﯿﺘﻮان ﺗﻌﯿﯿﻦ ﮐﺮد . ﺑﺮاي اﯾﻦ ﮐﺎر ﺑﻪ ﺻﻮرت ﭼﺸﻤﯽ ﺑﻪ ﺳﺒﺪ ﺧﺮﻣﺎي ﺧﻮد ﻧﮕﺎه ﮐﻨﯿﺪ و ﺣﺪود رﻧﮓ ﺧﻮد را از ﺑﯿﻦ ﯾﮑﯽ از اﻋﺪاد زﯾﺮ اﻧﺘﺨﺎب ﮐﻨﯿﺪ&nbsp;<br>ﺗﻮﺟﻪ داﺷﺘﻪ ﺑﺎﺷﯿﺪ ﺑﺮاي دﻗﺖ ﺑﯿﺸﺘﺮ در ﺗﻌﯿﯿﻦ رﻧﮓ ﺑﺎﯾﺪ از ﺣﺪاﻗﻞ 5 ﻧﻔﺮ دﯾﮕﺮ ﺑﺨﻮاﻫﯿﺪ اﯾﻦ ﮐﺎر را اﻧﺠﺎم دﻫﻨﺪ&nbsp;<img src="{% static 'assets/img/A93paczl_wi9s9i_23c.png'%}" width="250" height="100"><br></span></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star-fill text-primary">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                    </svg></span><span style="text-align: right;">&nbsp; اﻧﺪازه : دﯾﮕﺮ ﻋﺎﻣﻞ ﻣﻬﻢ در ﺗﻌﯿﯿﻦ ﮐﯿﻔﯿﺖ اﻧﺪازه آن اﺳﺖ . ﻣﯿﺎﻧﮕﯿﻦ اﻧﺪازه ﺧﺮﻣﺎي زاﻫﺪي ﺑﯿﻦ4 ﺗﺎ 3/5 ﺳﺎﻧﺘﯽ ﻣﺘﺮ اﺳﺖ. ﮐﻪ ﺑﻪ ﯾﮑﯽ از 2 روش زﯾﺮ ﺗﻌﯿﻦ ﻣﯿﺸﻮد&nbsp;&nbsp;<br>روش اول :اﺑﺘﺪا ﯾک ﮐﯿﻠﻮﮔﺮم از ﻣﺤﺼﻮل را ﺑﻪ ﺻﻮرت ﺗﺼﺎدﻓﯽ ﺟﺪا ﮐﺮده ﺳﭙﺲ ﺗﻌﺪاد ﺧﺮﻣﺎ ﻫﺎ را در ﯾﮏ ﮐﯿﻠﻮ ﮔﺮم ﺑﺸﻤﺎرﯾﺪ و ﻃﺒﻖ ﺟﺪول زﯾﺮ ﻣﯿﺘﻮاﻧﯿﺪ اﻧﺪازه ﺧﺮﻣﺎ را ﻣﺸﺨﺺ ﮐﻨﯿﺪ&nbsp;&nbsp;</span></li>
                        </ul>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>اندازه</th>
                                        <th>تعداد در یک کیلوگرم</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>درشت</td>
                                        <td>تا 132 عدد</td>
                                    </tr>
                                    <tr>
                                        <td>متوسط</td>
                                        <td>از 133 تا 172 عدد</td>
                                    </tr>
                                    <tr>
                                        <td>ریز</td>
                                        <td>بیش از 173 عدد</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2"><span style="text-align: right;">روش دوم : تعدادی خرما را به طور تصادفی جدا کرده و در کنار خط کش گذاشته سپس طبق جدول زیر اندازه گیری میکنیم&nbsp;</span></li>
                        </ul>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>اندازه</th>
                                    <th>طول خرما بر حسب سانتی متر</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>درشت</td>
                                    <td>4--4.5</td>
                                </tr>
                                <tr>
                                    <td>متوسط</td>
                                    <td>2.5--3.5</td>
                                </tr>
                                <tr>
                                    <td>ریز</td>
                                    <td>1--2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="list-unstyled">
                        <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star-fill text-primary">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg></span><span style="text-align: right;">&nbsp; رطوبت : یکی از خصوصیات قصب زاهدی خشک و نیمه خشک بودن آن است . توجه کنید رطوبت قصب زاهدی زیر 14 درصد است است وبه سه دسته : تر(قهوه ای) ، نیمه مرطوب(دو رنگ طلایی قهوه ای) وخشک(طلایی) تقسیم میشود. هرچه رطوبت آن بیشتر باشد خرما به رنگ تیره تردرآمده و گوشت میوه نرم تر میشود .بسته بندی : پس از کنترل موارد بالا ، قبل از بسته بندی خرما ها را سورتینگ کرده تا از هرگونه خرابی شامل :<br>شن ، سنگ ریزه ، فلز ،گنجشک خورده ، له شده ، کپک زده ، چروکیده (کرونگ) ، آفتاب سوخته ،آفت زدگی،طعم و بوی غیر طبیعی جداسازی شود .</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2" style="margin-left: 0px;">
            <form method="post"  enctype="multipart/form-data" class="custom-form" style="padding: 21px;margin: 0px;">
                {% csrf_token %}
                <h1 style="color: rgb(76, 86, 94);">فرم ثبت محصول</h1>
                <div class="row form-group" style="margin-bottom: 3px;">
                    <div class="col-sm-4 label-column" style="text-align: right;width: 373.012px;"><label class="col-form-label" for="email-input-field" style="color: rgb(22,159,0);font-size: 13px;">طفا تمامی فیلد های ستاره دار * را پرکنید<br></label></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="email-input-field">نام و نام خانوادگی فروشنده*<br></label></div>
                    <div class="col-sm-6 input-column"><input name="name" class="form-control" type="text" required=""></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="pawssword-input-field">شماره تماس *<br></label></div>
                    <div class="col-sm-6 input-column"><input name="phone" class="form-control" type="number" required=""></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="repeat-pawssword-input-field">تناژ تقریبی محصول (به واحد تن)*<br></label></div>
                    <div class="col-sm-6 input-column"><input name="Product_tonnage" class="form-control" type="number" required=""></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="repeat-pawssword-input-field">محل کشت محصول*<br></label></div>
                    <div class="col-sm-6 input-column"><input name="Crop_location" class="form-control" type="text" required=""></div>
                </div>
                <div class="row form-group" style="margin-bottom: 0px;">
                    <div class="col-sm-4 d-grid label-column" style="text-align: right;"><label class="form-label" for="repeat-pawssword-input-field" style="text-align: right;">سایز خرمای شما*&nbsp;<br></label><small class="form-text" style="text-align: right;">لطفا از قسمت بالا سایز خرمای خود را با جدول شماره گذاری شده سایز خرما تطابق دهید</small></div>
                    <div class="col-sm-6 input-column"><select name="size" class="form-select" required="">
                            <option value="1">درشت</option>
                            <option value="2">متوسط</option>
                            <option value="3">ریز</option>
                        </select></div>
                </div>
                <div class="d-lg-flex justify-content-lg-end slidecontainer" style="margin-bottom: 31px;"></div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="repeat-pawssword-input-field">قیمت محصول*<br></label></div>
                    <div class="col-sm-6 input-column"><input name="price" class="form-control" type="number" required=""></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="repeat-pawssword-input-field">حدود تاریخ برداشت*<br></label></div>
                    <div class="col-sm-6 input-column"><link rel="stylesheet" href="{% static 'assets/css/js-persian-cal.css'%}">
                            <script type="text/javascript" src={% static 'assets/js/js-persian-cal.min.js'%}></script>
                        <div>
                            <input name="Around_the_harvest_date" type="text" id="pcal4" class="pdate"><br>
                        </div>

                        <script type="text/javascript" src="{% static 'assets/js/js-persian-cal.min.js'%}"></script>
                        <script type="text/javascript">
                            var objCal1 = new AMIB.persianCalendar('pcal4');
                        </script>
                    </div>

                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="dropdown-input-field">نوع خرما*</label></div>
                    <div class="col-sm-4 input-column"><select name="date_type" class="form-select" required="">
                            <option value="زاهدی" >زاهدی</option>
                            <option value=خاصویی">خاصویی</option>
                            <option value="شاهانی">شاهانی</option>
                        </select></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 d-grid label-column" style="text-align: right;"><label class="form-label" for="dropdown-input-field" style="text-align: right;">رنگ خرما (طبق جدول استاندارد)*</label><small class="form-text" style="text-align: right;">لطفا از قسمت بالا رنگ خرمای خود را با جدول شماره گذاری شده رنگ خرما تطابق دهید</small></div>
                    <div class="col-sm-4 input-column"><select name="color_type" class="form-select" required="">
                            <option value="1">شماره 1</option>
                            <option value="2">شماره 2</option>
                            <option value="3">شماره 3</option>
                            <option value="4">شماره 4</option>
                            <option value="5">شماره 5</option>
                            <option value="6">شماره 6</option>
                            <option value="7">شماره 7</option>
                            <option value="8">شماره 8</option>
                        </select></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="dropdown-input-field">رنگ خرما (به صورت دستی)</label></div>
                    <div class="col-sm-4 input-column"><input name="colorr" class="form-control form-control-color" type="color" style="height: 52px;width: 53px;"></div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="col-form-label" for="dropdown-input-field">عکس محصول*</label></div>
                    <div class="col-sm-4 label-column" style="text-align: right;"><div class="upload__box"  >
        <div class="upload__btn-box" >
            <label class="upload__btn" >
            <p style="color:rgb(76,86,94)">انتخاب فایل ها</p>
            <input name="photo" type="file" multiple="" data-max_length="20" class="upload__inputfile">
            </label>
        </div>
        <div class="upload__img-wrap"></div>
    </div>

    <script src="{% static 'script.js'%}"></script></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column" style="text-align: right;"><label class="form-label" for="dropdown-input-field">توضیحات مختصر</label><textarea name="description" class="form-control" style="width: 285.012px;height: 126.4px;"></textarea></div>
                </div>
                <div class="form-check d-table" style="text-align: right;"><input name="active_rool" class="form-check-input" type="checkbox" id="formCheck-1" required=""><label class="form-check-label" for="formCheck-1">شرایط و قوانین زرمیوه را میپذیرم&nbsp;</label></div><button class="btn btn-light submit-button" type="submit" style="border-radius: 12px;">ثبت محصول</button>
            </form>
        </div>
    </div><a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="_blank" style="background-color: #5bbf21;width: 50px;height: 50px;"><i class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center" style="margin-right: 0px;"></i></a>
    <div class="row p-0 m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center align-content-center p-0 m-0" style="border-bottom-width: 1.4px;border-bottom-style: solid;">
            <p class="p-0 m-0" style="color: #008c0e;">با ما در ارتباط باشید</p><a class="p-0 m-2 d-inline-block" href="https://twitter.com/OmoldsCo" target="_blank">
                <h3><i class="fa fa-telegram" style="color: #008c0e;"></i></h3>
            </a><a class="p-0 m-2 d-inline-block" href="https://plus.google.com/u/0/114804899141677023355" target="_blank">
                <h3><i class="fa fa-google-plus" style="color: #008c0e;"></i></h3>
            </a><a class="p-0 m-2 d-inline-block" href="https://www.youtube.com/channel/UCO8bVpiYLrkNhxoQUdyIYEQ" target="_blank">
                <h3><i class="fa fa-instagram" style="color: #008c0e;"></i></h3>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-self-center p-0 m-0"><a class="link-dark" href="https://www.jav.com" target="_blank">
                <h6 class="text-center p-0 m-2" style="color: rgb(0,81,162);">تمامی حقوق مادی و معنوی برای جناب حقدان محفوظ است طراحی این اپلیکیشن توسط شرکت فنی مهندسی JAV&nbsp;انجام شده است</h6>
            </a></div>
    </div>

</body>

</html>
    {% endblock content %}